<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" *ngIf="books.length">Books</h1>
      <h1 class="display-4" *ngIf="books.length == 0">There is no book in the Database</h1>
    </div>
</div>
<div class="form-group col-md-8 padl0" style="margin-left: 1%;width: 20%;" *ngIf="books.length">
    <input type="text" class="form-control" placeholder="Search Book by author, genre or price" [(ngModel)]="searchedKeyword">
</div>
<br>
<div class="tablesize" >
<table class="table table-striped table-bordered" *ngIf="books.length" style="border:1px solid black;margin-left:auto;margin-right:auto;" >
    <thead class="table-dark">
        <tr style="text-align:center">
            <th>Title</th>
            <th>Genre</th>
            <th>Author</th>
            <th>Price</th>
            <th *ngIf="!isUserLoggedIn()">Added By</th>
            <th *ngIf="isUserLoggedIn()">Update</th>
            <th *ngIf="isUserLoggedIn()">Delete</th>
        </tr>
    </thead>
    <tbody *ngIf="!isUserLoggedIn()">
        <tr *ngFor="let book of books | filter:searchedKeyword" style="text-align:center">
            <td>{{book.title}}</td>
            <td>{{book.genre}}</td>  
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
            <td *ngIf="!isUserLoggedIn()">{{book.name}}</td>
        </tr>    
    </tbody>

    <tbody *ngIf="isUserLoggedIn()">
        <tr *ngFor="let book of books | filter:book.username | filter:searchedKeyword" style="text-align:center">
            <td>{{book.title}}</td>
            <td>{{book.genre}}</td>  
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
          <td *ngIf="isUserLoggedIn()"><button render="renderer" class="btn btn-primary" *ngIf="isUserLoggedIn()"><i class="bi bi-pencil-square"></i> Edit</button></td>
          <td *ngIf="isUserLoggedIn()"><button render="renderer" class="btn btn-danger"  *ngIf="isUserLoggedIn()" (click)="deleteBook(book)"><i class="bi bi-trash"></i> Delete</button></td>    
        </tr>
        
    </tbody>
</table>
<br>
<div *ngIf="isUserLoggedIn()" style="text-align:center">
    <button render="renderer" class="btn btn-success" *ngIf="isUserLoggedIn()" (click)="showAddBook()"><i class="bi bi-plus-circle"></i> Add Book</button>
</div>
</div>

<div *ngIf='addBookForm && isUserLoggedIn()' class="container">
    <h1>Add Book</h1>
    <div class="cards-container">
        <div class="cards-form">
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" name="Title" [(ngModel)]="book.title" required>
                    <h6 *ngIf="!isValid" style="color: red;">All Field are required</h6>
                </div>
                <div class="form-group">
                    <label for="">Genre</label>
                    <input type="text" name="Category" [(ngModel)]="book.genre" required>
                    <h6 *ngIf="!isValid" style="color: red;">All Field are required</h6>
                </div>
                <div class="form-group">
                    <label for="">Author</label>
                    <input type="text" name="Author"  [(ngModel)]="book.author" required>
                    <h6 *ngIf="!isValid" style="color: red;">All Field are required</h6>
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="text" name="Price" [(ngModel)]="book.price" required>
                    <h6 *ngIf="!isValid" style="color: red;">All Field are required</h6>
                </div>
                <div class="form-group">
                    <button *ngIf="!saved_btn">Save</button>
                    <button type="button" disabled *ngIf="saved_btn" >
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Saving...
                      </button>
                </div>
            </form>
        </div>
    </div>
    
</div>
